@use 'vars' as v;

.project-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  &-cover{
    border: 12px solid v.$color-dark-grey;
    width: min(100%, 460px);
    &-inner{
      border: 20px solid v.$color-light-grey;
      position: relative;
      
      img{
        width: 100%;
      }
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px 0 v.$color-dark-transparent inset;
      }
    }
  }
  h2{
    font-size: v.$fs-500;
    font-weight: bold;
  }
  p{
    text-align: center;
    max-width: 400px;
  }
}

